.tasklist-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-task input {
    padding: .8em;
    font-size: 1em;
}

.add-task button {
    padding: .5em;
    font-weight: normal;
    font-size: .9em;
}

.task-list {
    margin-top: 2em;
}
